.Druid{
  color:#FF7D0A;
}
.Hunter{
  color:#ABD473;
}
.Mage{
  color:#69CCF0;
}
.Paladin{
  color:#F58CBA;
}
.Priest{
  color:#FFFFFF;
}
.Rogue{
  color:#FFF569;
}
.Shaman{
  color:#0070Ce
}
.Warlock{
  color:#9482c9;
}
.Warrior{
  color:#c79C6E;
}
